# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.pdf
uploads/

# Sensitive configs
Parser/config.yaml
Parser/google_api.json

credencials/
credentials/gmail_credentials.json
credentials/token.json